<!DOCTYPE html>
<html lang = "es">
  <head>
    <meta charset="utf-8"/>
    <title> Registro </title>
  </head>

  <body>
<form action="{{url_for('crearUsuario')}}" method="POST">

    <label for="nameRegistration">Nombre:</label>
    <input type="text" id="name" name="nombre" required /><br>
  
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="contraseña" required/><br>

    <label for="paises">Elegí un país:</label><br>
    <select name="pais" id="opciones">
      <option value="arg">Argentina</option>
      <option value="us">Estados Unidos</option>
      <option value="ve">Venezuela</option>
      <option value="uy">Uruguay</option>
    </select> <br>

    <input type="checkbox" id="cbox1" name= "check" value="checkbox" required >Acepto las bases y condiciones</label><br>
    
    <button name="registro" type="submit" value="registrarse" required>Crear</button>
  
  </body>
</html>